<!DOCTYPE html>
<html>

<head>
    <title>
        Evaluación Final - Curso NodeJS - 2018
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<div class="container-fluid col-12">
    <nav class="row navbar">
        <a class="navbar-brand" href="#"><strong>Evaluación Final - Curso Nodejs</strong></a>

        <ul class="row nav justify-content-end">
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/productos">Productos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/contacto">Contacto</a>
            </li>
        </ul>

    </nav>
</div>

<body class="container">